.top-nav{
    display: flex;
    justify-content: flex-end;
}
.top-nav-link {
    list-style-type: none;
    display: flex;
       
}
a {
    font-family: sans-serif;
    text-decoration: none;
    color: black;
    font-size: 3.4mm;

}
a:hover{
    color: #505050;
}
#nav-log{
    margin-top: -7px;
    border-radius: 50%;
}
google{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.header_logo{
    height: 30%;
    width: 30%;
}
.body_search{
    margin-left:340px;
    justify-content: center;
    margin-top: 20px;
}
.body_search_bar{
    border-color: #D3D3D3;
    width: 560px;
    height: 39px;
    border-top-width: 0.1mm;
    border-right-width: 0.2mm;
    border-left-width: 0.2mm;
    border-bottom-width: 0.2mm;
    border-radius: 50px;
    border-style: ridge;
    outline: none;
}
.search_button_img{
    display: flex;
    width: 30px;
    margin-top: -34px;
    margin-left: 520px;
}
.google_search_button{
    width: 150px;
    height: 30px;
    border-color: transparent;
    border-top-width: 0.1mm;
    border-right-width: 0.2mm;
    border-left-width: 0.2mm;
    border-bottom-width: 0.2mm;
    border-radius: 7px;
    border-style: ridge;
    margin-left: 150px;
    margin-top: 25px;
    outline: none;
}
.google_search_button:hover{
border-color: #D3D3D3;
}
.google_search_button_second{
    width: 150px;
    height: 30px;
    border-color: transparent;
    border-top-width: 0.1mm;
    border-right-width: 0.2mm;
    border-left-width: 0.2mm;
    border-bottom-width: 0.2mm;
    border-radius: 7px;
    border-style: ridge;
    margin-top: 25px;
    outline: none;
}
.google_search_button_second:hover{
    border-color: #D3D3D3;
}
.search_bar_comment{
    display: flex;
    margin-top:20px;
    margin-left: 180px;
    font-size: 4mm;
}
#search_bar_english{
    color: blue;
}
#search_bar_english:hover{
    text-decoration: underline;
}